<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Maintenance Mode</title>
</head>
<body>
    <h1>Maintenance Mode!</h1>
    <p>The app is in Maintenance Mode, we will be right back</p>

</body>
</html>